<section class="content">
  <h2>Experience</h2>

  <div [class]="accordionStatus() ? 'accordion open' : 'accordion'">
    <div class="accordion-content">
      <div class="line"></div>
        <ul class="experience-list">
          @for (exp of experiences; track $index) {
            <li>
              <h3>{{ exp.title }}</h3>
              <h4>{{ exp.company }}</h4>
              <p>{{ exp.description }}</p>
            </li>
          }
        </ul>
      </div>
    </div>

  <br>
  <p (click)="accordionStatus.set(!accordionStatus())" style="cursor: pointer;">
    @if(accordionStatus()) {
      Hide
    } @else {
      Show all
    }
  </p>
</section>
