@use '~/colors' as *;
@use '~/mixins' as *;

:host {
  background: $blue-light-to-dark;

  .content {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
    }
  }
}

.accordion {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40vh;
  transition: all .2s ease-out;

  @include breakpoint(phone) {
    grid-template-rows: 65vh;
  }

  &.open {
    margin-bottom: 0rem;
    grid-template-rows: 100%;
  }

  .accordion-content {
    grid-row: 1 / -1;
    overflow: hidden;
    display: flex;
    column-gap: 2rem;
    padding-left: 1rem;

    .line {
      width: .2rem;
      min-height: 100%;
      background: $purple-to-skyblue-to-bottom;
      border-radius: .5rem;

      @include breakpoint(phone) {
        width: .4rem;
      }
    }

    .experience-list {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      row-gap: 4rem;

      >li {
        position: relative;
        display: flex;
        column-gap: 1rem;

        .logo {
          flex-shrink: 0;
          position: relative;
          width: 50px;
          height: 50px;
          pointer-events: none;

          >img {
            border-radius: .2rem;
          }

          @include breakpoint(phone) {
            width: 45px;
            height: 45px;
          }
        }

        .exp-content {
          .date {
            display: block;
            color: #D1D1D1;
            margin-bottom: .5rem;
          }

          h3.title {
            font-weight: 600;
          }

          h4.company {
            margin: .2rem 0 .8rem 0;
          }

          p {
            color: #D1D1D1;
          }
        }

        &::before {
          z-index: 1;
          content: '';
          display: block;
          position: absolute;
          left: -2.1rem;
          top: .25rem;
          transform: translateX(-50%);
          background: $purple-to-skyblue;
          width: 1.3rem;
          height: 1.3rem;
          border-radius: 50%;
        }
      }
    }
  }
}
