@let isOpen = _state();

<section class="content">
  <h2>Experience</h2>

  <div class="accordion {{isOpen ? 'open' : ''}}">
    <div class="accordion-content">
      <span class="line"></span>
      <ul class="experience-list">
        @for (exp of experiences; track $index) {
          <li>
            <div class="logo">
              <img [ngSrc]="exp.image" alt="{{exp.company.toLowerCase()}} logo" fill/>
            </div>
            <div class="exp-content">
              <span class="date">{{ exp.startDate | date }}</span>
              <h3 class="title">{{ exp.title }}</h3>
              <h4 class="company">&#64; {{ exp.company }}</h4>

              <app-expandable-text [text]="exp.description"/>
            </div>
          </li>
        }
      </ul>
    </div>
  </div>

  <br>

  <p (click)="_state.set(!isOpen)" style="cursor: pointer;">
    {{isOpen ? 'Hide' : 'Show all'}}
  </p>
</section>
