<nav class="content">
  <a app-logo routerLink="/" class="logo" aria-label="Visit the homepage"></a>

  @if(menuIsOpen()) {
    <app-icon-close class="close-icon" (click)="menuIsOpen.set(!menuIsOpen())" />
  } @else {
    <app-icon-menu class="menu-icon" (click)="menuIsOpen.set(!menuIsOpen())" />
  }

  <div [class]="menuIsOpen() ? 'nav-content open' : 'nav-content'">
    <menu>
      <li (click)="onLinkClick()">
        <a routerLink='/'>Home</a>
      </li>

      <li (click)="onLinkClick()">
        <a href="/#about">About</a>
      </li>

      <li (click)="onLinkClick()">
        <a href="/#contact">Contact</a>
      </li>
    </menu>

    <ul class="social-media">
      <li>
        <a href="https://www.instagram.com/rfabricioflores/" target="_blank" (click)="onLinkClick()">
          <img ngSrc="/social/instagram.svg" alt="instagram" fill>
        </a>
      </li>

      <li>
        <a href="https://github.com/rfabricioflores" target="_blank" (click)="onLinkClick()">
          <img ngSrc="/social/github.svg" alt="github" fill>
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/rfabricioflores/" target="_blank" (click)="onLinkClick()">
          <img ngSrc="/social/linkedin.svg" alt="linkedin" fill>
        </a>
      </li>
    </ul>
  </div>
</nav>
