@use '~/colors' as *;

:host {
  display: block;
  background: $blue-dark-to-light;
}

nav {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  menu {
    display: flex;
    column-gap: 3rem;

    li {
      font-weight: 600;
    }
  }

  .social-media {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;

    >a > img {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
