@use '~/colors' as *;
@use '~/mixins' as *;

:host {
  background: $blue-light-to-dark;

  .content {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >.photoWrapper {
      position: relative;
      width: 260px;
      height: 300px;
      pointer-events: none;

      @include breakpoint(tablet + phone) {
        width: 15rem;
        height: 18rem;
      }

      >img {
        border-radius: 1.2rem;
        position: relative;
        z-index: 2;
      }

      .border {
        top: 10%;
        left: 10%;
      }

      &::after {
        content: '';
        display: block;
        width: inherit;
        height: inherit;
        background: linear-gradient($purple 0%, $skyblue 100%);
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(15px);
        z-index: 1;
      }
    }

    >.info {
      max-width: 40%;
      color: rgb(173, 173, 173);

      h2 {
        text-transform: uppercase;
        font-weight: 600;
      }

      p {
        margin: 2rem 0 3rem 0;
      }

      .info-buttons {

        .btn {
          width: 130px;
        }

        :not(:first-child) {
          margin-left: 1rem;
        }
      }
    }

    @include breakpoint(tablet + phone) {
      flex-direction: column;
      row-gap: 3rem;
      height: auto;
      padding-top: 5rem;
      padding-bottom: 5rem;

      >.info {
        margin-top: 4rem;
        max-width: 100%;
      }
    }
  }
}
