<div class="content" id="about">
  <section class="photoWrapper">
    <img src="/laptop.png" alt="" width="260" height="300">
    <app-icon-border position="up" [borderRadius]="19" [strokeWidth]="7" class="border" />
  </section>

  <section class="info">
    <h2>About me</h2>
    <p>
      22-year-old developer with passion for designing, developing, and launching platforms for production. I have
      in-depth knowledge of object-oriented, functional, and reactive programming, and I always strive to create
      high-quality and efficient solutions. With a strong technical background and a constant desire to learn and grow,
      I am ready to take on new challenges and contribute with innovative ideas and solutions.
    </p>
    <a class="btn" href="/cv.pdf" target="_blank">Resume</a>
    <a class="btn">More</a>
  </section>
</div>
