@use '~/colors' as *;
@use '~/mixins' as *;

:host {
  background: $blue-dark-to-light;

  .content {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
    }

    >.holder {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 5rem;

      >section > .contact-svg {
        width: 100%;
      }

      >.form {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 40%;
        font-size: 1rem;

        .btn {
          width: fit-content;
          font-size: inherit;
        }

        .input {
          position: relative;
          width: 100%;
          padding: 2px;
          border-radius: 14px;

          >input, >textarea {
            font-size: inherit;
            color: rgba(255, 255, 255, 0.897);
            width: 100%;
            height: 100%;
            appearance: none;
            outline: none;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            padding: 1rem 1rem;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              -webkit-background-clip: text;
              -webkit-text-fill-color: #ffffff;
              transition: background-color 5000s ease-in-out 0s;
              box-shadow: inset 0 0 20px 20px #58768829;
            }

            &::placeholder {
              color: inherit;
              opacity: .7;
            }
          }

          textarea {
            resize: none;
          }

          >label {
            transition: all .3s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1rem 1rem;
            pointer-events: none;
            font-size: inherit;
            opacity: .5;
          }

          > input:focus + label,
          > input.ng-dirty + label,
          > input.ng-touched + label,
          > textarea:focus + label,
          > textarea.ng-dirty + label,
          > textarea.ng-touched + label {
            margin-bottom: 45px;
            top: -45px;
            left: 0;
            opacity: 1;
            padding: 1rem 0;
          }

          // Apply styles to the parent ".input"
          &:has(> input:focus),
          &:has(> input.ng-dirty),
          &:has(> input.ng-touched),
          &:has(> textarea:focus),
          &:has(> textarea.ng-dirty),
          &:has(> textarea.ng-touched) {
            margin-top: 35px;
          }
        }
      }

      @include breakpoint(tablet + phone) {
        flex-direction: column;
        padding-top: 1.5rem;

        .form {
          width: 100%;
        }
      }
    }


    .input-error {
      display: block;
      padding-top: .4rem;
      color: rgb(158, 143, 55);
    }
  }
}
