@use '~/colors' as *;
@use '~/mixins' as *;

:host {
  background: $blue-dark-to-light;

  .content {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
    }

    >div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 5rem;

      @include breakpoint(tablet + phone) {
        padding-top: 1rem;
      }

      .form {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 40%;
        font-size: 1rem;

        .btn {
          width: fit-content;
          font-size: inherit;
        }

        .input {
          position: relative;
          width: 100%;
          padding: 2px;
          overflow: hidden;
          border-radius: 14px;

          input, textarea {
            font-size: inherit;
            color: white;
            width: 100%;
            height: 100%;
            appearance: none;
            outline: none;
            background-color: transparent;
            border: none;
            padding: 1rem 1rem;

            &::placeholder {
              color: inherit;
              opacity: .7;
            }
          }

          textarea {
            resize: none;
          }
        }
      }

      @include breakpoint(tablet + phone) {
        flex-direction: column;

        .form {
          width: 100%;
        }
      }
    }
  }
}
