<header class="content">
  <section class="info">
    <h1>
      <span>Full Stack Software</span>
      <br>
      <span>Developer</span>
    </h1>
    <p>A skilled developer with a passion for creating visually appealing and user-friendly websites. Expert in various
      programming languages and technologies to bring ideas to life.</p>

    <a class="btn" href="/#contact">Contact</a>
  </section>

  <section class="techs" #techs>
    <img src="/techs/react.svg" alt="react">
    <img src="/techs/angular.svg" alt="angular">
    <img src="/techs/nextjs.svg" alt="nextjs">
    <img src="/techs/ts.svg" alt="typescript">
    <img src="/techs/js.svg" alt="javascript">
    <img src="/techs/nodejs.svg" alt="nodejs">
    <img src="/techs/java.svg" alt="java">
    <img src="/techs/nestjs.svg" alt="nestjs">
  </section>
</header>
