@use '~/colors' as *;
@use '~/mixins' as *;

:host {
  display: block;
  background: $blue-dark-to-light;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60vh !important;

  @include breakpoint(tablet + phone) {
    overflow: hidden;
    height: auto !important;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }

  .info {
    max-width: 50%;

    @include breakpoint(tablet + phone) {
      max-width: 100%;
    }

    h1 {
      > span {
        font-weight: 900;
        font-size: 2.2rem;
        @include txt-purple-to-skyblue;
      }
    }

    p {
      max-width: 80%;
      margin: 2rem 0 4rem 0;

      @include breakpoint(tablet + phone) {
        max-width: 100%;
      }
    }
  }

  .techs {
    position: relative;
    width: 25vh;
    max-width: 400px;
    max-height: 400px;
    height: 25vh;
    opacity: 0;
    transition: all 0.5s;

    >img {
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      transition: all 200ms linear;
    }

    @include breakpoint(tablet + phone) {
      margin-top: 1rem;
      transform: translateY(40%);
      width: 90%;
      height: 20vh;
    }
  }
}


@keyframes rotate{
  to{ transform: rotate(-360deg); }
}
