@use '~/colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  font-size: 15px;
  background-color: black;
}

.wrapper {
  width: 100%;
  padding: 0 5%;

  .content {
    margin: 0 auto;
    width: 100%;
    max-width: 1385px;
    height: auto;
  }
}

.btn {
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 37.5px;
  color: $white;
  background-color: $purple-to-skyblue;
  font-weight: 600;

  &:hover, &:focus {
    filter: brightness(1.1);
  }
}
