<section class="content">
  <h2>Projects</h2>
  <div class="projects">
    @for (project of projects; track $index) {
      <article #article>
        <img [src]="project.image" alt="project photo" class="image">
        <h3>{{project.title}}</h3>
        <p>{{project.description}}</p>
        <div class="buttons">
          @if (project.previewLink) {
            <a class="btn" [href]="project.previewLink" target="_blank">Preview</a>
          }
          @if (project.sourceCode) {
            <a class="btn" [href]="project.sourceCode" target="_blank">Github</a>
          }
        </div>

        @if (isBrowser ) {
          {{article.offsetWidth}}
          <app-icon-border [width]="article.offsetWidth" [height]="article.offsetHeight" class="bg" />
        }
      </article>
    }
  </div>
</section>
